body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
hr{
	display: block;
	width: 100%;
	height: 1px;
	margin: 30px 0;
	border: 0;
	background-color: #e6e6e6;
}
.container{
	max-width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}
#obertka{
	width: 100%;
}
#header{
	background: url(img/intro.jpg);
	background-size:cover;
	background-position: top center;
	width: 100%;
    height: 100vh;
    z-index: 0;
}
header{
  z-index: 100;
  position: fixed;
  width: 100%;
  background: rgba(219, 219, 219, 0.5);
  padding: 5px 0 10px 0;
  transition: all ease-in-out 0.5s;
  font-family: 'Montserrat', sans-serif;
}
ul{
  list-style-type: none;
}
.wrapHead{
  width: 90%;
  margin: 0 auto;
  transition: all ease-in-out 0.5s;
}
.header__box{
	display: flex;
	padding: 0 100px;
	justify-content: space-between;
	align-items: center;
}

.logo-element {
    height: 48px;
    width: 44px;
    position: relative;
    background-image: url(img/logo.svg);
    background-size: cover;
}
nav{
  float: right;
  margin-top: 10px;
}
nav li{
  display: inline-block;
  margin: 0 4px;
}
nav li a{
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  padding: 7px 0;
  text-decoration: none;
  color: #000;
  transition: all ease-in-out 0.5s;
}
nav li a:hover{
  color: #807878;
}

.header__links{
	text-decoration: none;
	color:#000;
	margin:0 30px;
}
.wrap{
  z-index: 50;
  position: relative;
  align-items: center;
}
.wrap>div{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.wrap .text {
    text-align: center;
}
.wrap .text h1 {
  font-family: 'Kaushan Script', cursive;
  color: #000;
  font-size: 48px;
  line-height: 1.2;
  z-index: 50;
}
/*--------------animation ---------------*/
.typee{
  display: flex;
  justify-content: center;
  align-items: center;
}
.typed-text{
  height: 57px;
  font-weight: bold;
  color: #000;
}
.cursor{
  display: inline-block;
  width: 5px;
  background-color: #000;
  margin-left: 0.1rem; 
  animation: blink 1s infinite;
}
@keyframes blink {
  0%  { background-color: #000; }
  49% { background-color: #000; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #000; }
}


/* *************header******************* */


/*---------ABOUT US-----------------*/
#aboutUs{
  background-color: #fbfbfb;
  padding: 96px 0;
}
#aboutUs .left img {
  max-width: 100%;
  border-radius: 13px;
  box-shadow: 0 16px 24px -8px rgba(0,0,0,.14);
}
#aboutUs>div>div {
  width: calc(50% - 32px);
}
#aboutUs>div {
  border-radius: 13px;
  background-color: #fbfbfb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#aboutUs .right h2{
	color: #212529;
  font-weight: 700;
  font-size: 32px;
}
#aboutUs .right p{
  font-size: 20px;
  margin-top: 16px;
}
#aboutUs p{
  color: #212529;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'Sans Open', sans-serif;
} 

/*---------cuisines -----------------*/
#cuisines{
	width: 100%;
    background-color: #fbfbfb;
}
#cuisines h1{
	position: relative;
	top: 10px;
	font-size: 32px;
    font-family: 'Open Sans', sans-serif;
	text-align: center;
}
#cuisines > div{
    padding: 55px 0;
	width: 90%;
	margin: 0 auto;
}
.area{
    margin-top: 70px;
	display: flex;
	justify-content: center;
}
.single-img{
	width: 100%;
	margin: 16px;
	cursor: pointer;
	transform-style: preserve-3d;
	perspective: 1000px;
}
.inner a{
    font-weight: 600; 
    text-decoration: none;
    position: relative;
	font-family: 'Luxurious Roman', cursive;
	font-size: 24px;
    color: #fff;
}
.front, .back{
	min-height: 300px;
	height: auto;
	border-radius: 5px;
	color: #fff;
	-webkit-background-size:cover;
	background-size: cover;
	transition: transform 0.7s cubic-bezier(0.4,0.2, 0.2, 1);
	backface-visibility: hidden;
	text-align: center;
	font-size: 22px;
}
.front:after{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	content: '';
	display: block;
	backface-visibility: hidden;
	border-radius: 5px;
}
.back{
	text-shadow: 1px 1px #000;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.inner{
	transform: translateY(-50%) translateZ(60px) scale(0.9);
	top: 50%;
	position: absolute;
	left: 0;
	width: 100%;
	padding: 2rem;
	box-sizing: border-box;
	perspective: inherit;
	z-index: 2;
}
.front .inner p{
    margin: 10px 0;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
    color: #fff;
}
.single-img .back{
	transform: rotateY(180deg);
	transform-style: preserve-3d;
}
.single-img:hover .back{
	transform: rotateY(0deg);
	transform-style: preserve-3d;
}
.single-img .front{
	transform: rotateY(0deg);
	transform-style: preserve-3d;
}
.single-img:hover .front{
	transform: rotateY(-180deg);
	transform-style: preserve-3d;
}

/*----------------------CONTACTS--------------------------*/
#contacts{
	width: 100%;
}
footer {
	background: #8cd6ad;
  /*background-image: radial-gradient(#aeeeb3,#94e9b2);*/
  padding: 70px 0;
  color: #000;
}
footer img{
	width: 50px;
	height: 50px;
  margin-bottom: 5px;
}
footer .container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 96px;
  display: flex;
}
.foot{
  width: 100%;
}
.social{
  height: 40px;
  position: relative;
  top: 35px;
} 
.social ul{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  display: flex;
}
.social ul li{
  position: relative;
  list-style: none;
  margin: 0 2px;
}
.social ul li:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 40px;
  height: 8px;
  background: #000;
  border-radius: 50%;
  transition: 0.5s;
  opacity: 0;
  filter: blur(2px);
  transform: scale(0.8);
}
.social ul li:hover:before{
  transition-delay: 0.2s;
  opacity: .2;
  transform: scale(1);
}
.social ul li a{
  width: 40px;
  height: 40px;
  display: block;
  transition: 0.5s;
  background: #ccc;
}
.social ul li:hover a{
  transform: translateY(-10px);
}
.social ul li a span{
  width: 100%;
  height: 100%;
}
.social ul li a span:before{
  font-family: fontAwesome;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #262626;
  transform-origin: top;
  transition: transform 0.5s;
}
.social ul li:hover a span:before{
  transform: rotateX(90deg) translateY(-50%);
}
.social ul li a span:after{
  font-family: fontAwesome;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #fff;
  transform-origin: bottom;
  transition: transform 0.5s;
  transform: rotateX(90deg) translateY(50%);
}
.social ul li:hover a span:after{
  transform: rotateX(0deg) translateY(0);
}
.social ul li:nth-child(1) a span:before,
.social ul li:nth-child(1) a span:after{
  content: '\f16d';
}
.social ul li:nth-child(2) a span:before,
.social ul li:nth-child(2) a span:after{
  content: '\f0d5';
}
.social ul li:nth-child(1) a span:after{
  background:
  linear-gradient(#400080,
    transparent),
  linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}
.social ul li:nth-child(2) a span:after{
  background: #dd4b39;
}

/*
#contacts{
	width: 100%;
}
footer {
	position: relative;
  padding: 70px 0;
  color: #fff;
}
footer .Background{
	position: absolute;	
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	background: url(img/korean.jpg);
	opacity: 0.5;
}
footer img{
	width: 50px;
	height: 50px;
  margin-bottom: 32px;
}
footer .container1{
	position: relative;
	z-index: 50;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 96px;
  display: flex;
}
.foot{
  width: 100%;
}
.social{
  height: 40px;
  position: relative;
  top: 65px;
} 
.social ul{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  display: flex;
}
.social ul li{
  position: relative;
  list-style: none;
  margin: 0 2px;
}
.social ul li:before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 40px;
  height: 8px;
  background: #000;
  border-radius: 50%;
  transition: 0.5s;
  opacity: 0;
  filter: blur(2px);
  transform: scale(0.8);
}
.social ul li:hover:before{
  transition-delay: 0.2s;
  opacity: .2;
  transform: scale(1);
}
.social ul li a{
  width: 40px;
  height: 40px;
  display: block;
  transition: 0.5s;
  background: #ccc;
}
.social ul li:hover a{
  transform: translateY(-10px);
}
.social ul li a span{
  width: 100%;
  height: 100%;
}
.social ul li a span:before{
  font-family: fontAwesome;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #262626;
  transform-origin: top;
  transition: transform 0.5s;
}
.social ul li:hover a span:before{
  transform: rotateX(90deg) translateY(-50%);
}
.social ul li a span:after{
  font-family: fontAwesome;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #fff;
  transform-origin: bottom;
  transition: transform 0.5s;
  transform: rotateX(90deg) translateY(50%);
}
.social ul li:hover a span:after{
  transform: rotateX(0deg) translateY(0);
}
.social ul li:nth-child(1) a span:before,
.social ul li:nth-child(1) a span:after{
  content: '\f16d';
}
.social ul li:nth-child(2) a span:before,
.social ul li:nth-child(2) a span:after{
  content: '\f0d5';
}
.social ul li:nth-child(1) a span:after{
  background:
  linear-gradient(#400080,
    transparent),
  linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}
.social ul li:nth-child(2) a span:after{
  background: #dd4b39;
}
*/